body{
    background: linear-gradient(to right, black, #0d1726);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p{
    color:snow;
    font-family: Josefin Sans;
}
a{
    color:lightblue;
    font-family: Josefin Sans;
}
